In [1]:
# importing pandas
import pandas as pd
  
# merging mutiple csv files
df = pd.concat(
    map(pd.read_csv, ['olx cars 1 original.csv','olx cars 2 original.csv','olx cars 3 original.csv','olx cars 4 original.csv','olx cars 5 original.csv']), ignore_index=True)
print(df)

      Unnamed: 0                         Brand    Model              Variant  \
0              0        Volkswagen Polo (2013)     Polo  1.0 MPI Comfortline
1              1          Hyundai Creta (2018)    Creta           1.4 E Plus
2              2            Ford Aspire (2018)   Aspire                  NaN
3              3  Mercedes-Benz S-Class (2011)  S-Class              S 500 L
4              4         Chevrolet Beat (2010)     Beat         2010-2013 LT
...          ...                           ...      ...                  ...
2697         510    Maruti Suzuki Swift (2018)    Swift         AMT ZXI Plus
2698         511     Maruti Suzuki Ciaz (2018)     Ciaz   Smart Hybrid Delta
2699         512         Tata Nano Genx (2016)     Genx                  XTA
2700         513            Hyundai I20 (2009)      I20             1.2 Asta
2701         514   Maruti Suzuki Ertiga (2014)   Ertiga                  VXI

     Manufacture Year Driven kilometers    Fuel Transmission No of owners  \
0                2013        36000.0 KM  PETROL       MANUAL          1st
1                2018       120000.0 KM  DIESEL       MANUAL          1st
2                2018        42142.0 KM  DIESEL       MANUAL           --
3                2011        50000.0 KM  PETROL    AUTOMATIC          1st
4                2010         63,358 KM  PETROL       MANUAL          2nd
...               ...               ...     ...          ...          ...
2697             2018        50000.0 KM  PETROL    AUTOMATIC          1st
2698             2018         78,000 KM  DIESEL       MANUAL          1st
2699             2016        19500.0 KM  PETROL    AUTOMATIC          1st
2700             2009        114,000 KM  PETROL       MANUAL          2nd
2701             2014         72,500 KM  PETROL       MANUAL          2nd

                Location      Price
0                  Delhi   3,50,000
1        Tiruchirappalli  10,25,000
2                   Pune   6,18,000
3                  Delhi  21,50,000
4              Hyderabad   2,50,000
...                  ...        ...
2697           Kozhikode   7,10,000
2698            Angamaly   7,50,000
2699               Kochi   2,35,000
2700  Thiruvananthapuram   2,20,000
2701          Ettumanoor   5,30,000

[2702 rows x 11 columns]

In [2]:
df

,Unnamed: 0,Brand,Model,Variant,Manufacture Year,Driven kilometers,Fuel,Transmission,No of owners,Location,Price
0,0,Volkswagen Polo (2013),Polo,1.0 MPI Comfortline,2013,36000.0 KM,PETROL,MANUAL,1st,Delhi,"3,50,000"
1,1,Hyundai Creta (2018),Creta,1.4 E Plus,2018,120000.0 KM,DIESEL,MANUAL,1st,Tiruchirappalli,"10,25,000"
2,2,Ford Aspire (2018),Aspire,NaN,2018,42142.0 KM,DIESEL,MANUAL,--,Pune,"6,18,000"
3,3,Mercedes-Benz S-Class (2011),S-Class,S 500 L,2011,50000.0 KM,PETROL,AUTOMATIC,1st,Delhi,"21,50,000"
4,4,Chevrolet Beat (2010),Beat,2010-2013 LT,2010,"63,358 KM",PETROL,MANUAL,2nd,Hyderabad,"2,50,000"
...,...,...,...,...,...,...,...,...,...,...,...
2697,510,Maruti Suzuki Swift (2018),Swift,AMT ZXI Plus,2018,50000.0 KM,PETROL,AUTOMATIC,1st,Kozhikode,"7,10,000"
2698,511,Maruti Suzuki Ciaz (2018),Ciaz,Smart Hybrid Delta,2018,"78,000 KM",DIESEL,MANUAL,1st,Angamaly,"7,50,000"
2699,512,Tata Nano Genx (2016),Genx,XTA,2016,19500.0 KM,PETROL,AUTOMATIC,1st,Kochi,"2,35,000"
2700,513,Hyundai I20 (2009),I20,1.2 Asta,2009,"114,000 KM",PETROL,MANUAL,2nd,Thiruvananthapuram,"2,20,000"
2701,514,Maruti Suzuki Ertiga (2014),Ertiga,VXI,2014,"72,500 KM",PETROL,MANUAL,2nd,Ettumanoor,"5,30,000"

In [5]:
#Dropping unnecessary column
df.drop(columns=["Unnamed: 0"],axis=0,inplace=True)

In [6]:
df.to_csv("Olx used cars.csv")

Hence all the files are combined and got a new output file